In [1]:
import datasets 
dataset = datasets.load_dataset('ucberkeley-dlab/measuring-hate-speech', 'binary')   
df = dataset['train'].to_pandas()
df.describe()

/Users/kawaii/opt/miniconda3/envs/hate_speech/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

,comment_id,annotator_id,platform,sentiment,respect,insult,humiliate,status,dehumanize,violence,...,hatespeech,hate_speech_score,infitms,outfitms,annotator_severity,std_err,annotator_infitms,annotator_outfitms,hypothesis,annotator_age
count,135556.000000,135556.000000,135556.000000,135556.000000,135556.000000,135556.00000,135556.000000,135556.000000,135556.000000,135556.000000,...,135556.000000,135556.000000,135556.000000,135556.000000,135556.000000,135556.000000,135556.000000,135556.000000,135556.000000,135451.000000
mean,23530.416138,5567.097812,1.281352,2.954307,2.828875,2.56331,2.278638,2.698575,1.846211,1.052045,...,0.744733,-0.567428,1.034322,1.001052,-0.018817,0.300588,1.007158,1.011841,0.014589,37.910772
std,12387.194125,3230.508937,1.023542,1.231552,1.309548,1.38983,1.370876,0.898500,1.402372,1.345706,...,0.932260,2.380003,0.496867,0.791943,0.487261,0.236380,0.269876,0.675863,0.613006,11.641276
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,-8.340000,0.100000,0.070000,-1.820000,0.020000,0.390000,0.280000,-1.578693,18.000000
25%,18148.000000,2719.000000,0.000000,2.000000,2.000000,2.00000,1.000000,2.000000,1.000000,0.000000,...,0.000000,-2.330000,0.710000,0.560000,-0.380000,0.030000,0.810000,0.670000,-0.341008,29.000000
50%,20052.000000,5602.500000,1.000000,3.000000,3.000000,3.00000,3.000000,3.000000,2.000000,0.000000,...,0.000000,-0.340000,0.960000,0.830000,-0.020000,0.340000,0.970000,0.850000,0.110405,35.000000
75%,32038.250000,8363.000000,2.000000,4.000000,4.000000,4.00000,3.000000,3.000000,3.000000,2.000000,...,2.000000,1.410000,1.300000,1.220000,0.350000,0.420000,1.170000,1.130000,0.449555,45.000000
max,50070.000000,11142.000000,3.000000,4.000000,4.000000,4.00000,4.000000,4.000000,4.000000,4.000000,...,2.000000,6.300000,5.900000,9.000000,1.360000,1.900000,2.010000,9.000000,0.987511,81.000000

In [2]:
df['text']

0         Yes indeed. She sort of reminds me of the elde...
1         The trans women reading this tweet right now i...
2         Question: These 4 broads who criticize America...
3         It is about time for all illegals to go back t...
4         For starters bend over the one in pink and kic...
                                ...
135551    عاجل سماحة #السيد_عبدالملك_بدرالدين_الحوثي  نص...
135552    Millions of #Yemen-is participated in mass ral...
135553    @AbeShinzo @realDonaldTrump @shinzoabe 独裁者は行きま...
135554    Millions of #Yemen-is participated in mass ral...
135555    لا تتشمت الرجال مسكين يعاني كس امه 😂. يقول يال...
Name: text, Length: 135556, dtype: object

In [3]:
import matplotlib.pyplot as plt

plt.bar(df['hate_speech_score'])

TypeError: bar() missing 1 required positional argument: 'height'

In [3]:
df['hate_speech_score'].min()

-8.34

In [7]:
intervals = {}
interval_width = 2.0

for value in df['hate_speech_score']:
    interval = int(value / interval_width) * interval_width
    if interval in intervals:
        intervals[interval] += 1
    else:
        intervals[interval] = 1

# Print the results
for interval, count in intervals.items():
    print(f"Interval {interval} to {interval + interval_width}: {count} values")

Interval -2.0 to 0.0: 24140 values
Interval -6.0 to -4.0: 1239 values
Interval 0.0 to 2.0: 77186 values
Interval -4.0 to -2.0: 12553 values
Interval 2.0 to 4.0: 20182 values
Interval 4.0 to 6.0: 209 values
Interval -8.0 to -6.0: 38 values
Interval 6.0 to 8.0: 9 values

In [2]:
'''
hate_speech = []
for i in range(len(df['text'])):
    if df['hate_speech_score'].iloc[i] > 2:
        hate_speech.append(df['text'].iloc[i])
'''

hate_speech = df[df['hate_speech_score'] > 2]
df_hate = hate_speech[['hate_speech_score', 'text']]

In [3]:
df_hate

        hate_speech_score                                               text
7                    2.08         Fuck off you insufferable retarded faggot.
48                   2.43  @odysseuslahori @IqShoaib Hang till death all ...
55                   2.32                   Niggers are ruining this country
68                   2.43               Islam needs to be fucking destroyed.
82                   2.54  Deep down in my inner demonic soul. I feel lik...
...                   ...                                                ...
122281               2.27                         Fucking fagot burn in hell
122289               2.27                         Fucking fagot burn in hell
122300               2.27                         Fucking fagot burn in hell
122354               2.27                         Fucking fagot burn in hell
122431               2.27                         Fucking fagot burn in hell

[20338 rows x 2 columns]

In [4]:
not_hate_speech = df[df['hate_speech_score'] < -3]
df_not_hate = not_hate_speech[['hate_speech_score', 'text']]

In [5]:
df_not_hate

        hate_speech_score                                               text
0                   -3.90  Yes indeed. She sort of reminds me of the elde...
1                   -6.52  The trans women reading this tweet right now i...
5                   -4.93  Sounds like the kinda wholsesome life I'd die ...
10                  -3.60  9) uhhhh i like being lgbt a lot. i feel proud...
15                  -3.09  Ladies buy a gun learn how to use it effective...
...                   ...                                                ...
135545              -4.40  Millions of #Yemen-is participated in mass ral...
135546              -3.10  🔥PUBG JAPAN SERIES 🔥Grade2 Day2 6/7 <Round8> 1...
135551              -4.88  عاجل سماحة #السيد_عبدالملك_بدرالدين_الحوثي  نص...
135552              -4.40  Millions of #Yemen-is participated in mass ral...
135554              -4.40  Millions of #Yemen-is participated in mass ral...

[22894 rows x 2 columns]

In [6]:
df_hate['hate'] = 1
df_not_hate['hate'] = 0

/var/folders/f4/4mwvrr4x2dg6l94x0rks7ypr0000gn/T/ipykernel_23481/665307968.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hate['hate'] = 1
/var/folders/f4/4mwvrr4x2dg6l94x0rks7ypr0000gn/T/ipykernel_23481/665307968.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_hate['hate'] = 0

In [7]:
df_not_hate

,hate_speech_score,text,hate
0,-3.90,Yes indeed. She sort of reminds me of the elde...,0
1,-6.52,The trans women reading this tweet right now i...,0
5,-4.93,Sounds like the kinda wholsesome life I'd die ...,0
10,-3.60,9) uhhhh i like being lgbt a lot. i feel proud...,0
15,-3.09,Ladies buy a gun learn how to use it effective...,0
...,...,...,...
135545,-4.40,Millions of #Yemen-is participated in mass ral...,0
135546,-3.10,🔥PUBG JAPAN SERIES 🔥Grade2 Day2 6/7 <Round8> 1...,0
135551,-4.88,عاجل سماحة #السيد_عبدالملك_بدرالدين_الحوثي نص...,0
135552,-4.40,Millions of #Yemen-is participated in mass ral...,0
135554,-4.40,Millions of #Yemen-is participated in mass ral...,0

In [8]:
import pandas as pd

df = pd.concat([df_hate, df_not_hate], axis=0, ignore_index=True)

In [9]:
df = df.sample(frac=1).reset_index(drop=True)

In [10]:
df

,hate_speech_score,text,hate
0,3.42,@Legionary1488 @JomavaesJos now we have a Eblo...,1
1,3.19,Put all anchor babies and their illegal alien ...,1
2,2.97,"This is why we won, because Americans know tha...",1
3,3.42,@Legionary1488 @JomavaesJos now we have a Eblo...,1
4,-4.44,I love that you enjoy being trans.,0
...,...,...,...
43227,2.14,Why do so many filthy wetback half-breed spic ...,1
43228,2.45,Every slant in #LosAngeles should be deported....,1
43229,-3.85,Women who lack financial literacy face serious...,0
43230,-5.45,let immigrants into the us,0
43231,-3.62,on gay pride day too... we all love brendon dude,0

In [11]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df, test_size=0.2)

In [13]:
df_bert = pd.DataFrame({
    'id':range(len(df_train)),
    'label':df_train['hate'],
    'extra_col':['a']*df_train.shape[0],
    'text': df_train['text']
})


df_bert

,id,label,extra_col,text
22123,0,1,a,Hitler didn't finish it. Can u. If a nigger ur...
5725,1,1,a,GET RID OF THOSE FUCKING MUSLIMS! the nasty on...
41444,2,0,a,Trans rights are human rights
39092,3,1,a,"""@iamkrause: No need to thank me, killing nigg..."
12530,4,1,a,i hate jews so much i wish the holocaust actua...
...,...,...,...,...
9247,34580,1,a,"""@iamkrause: No need to thank me, killing nigg..."
37152,34581,0,a,"Many Iranians are educated, intelligent people..."
31401,34582,1,a,Hitler didn't finish it. Can u. If a nigger ur...
23180,34583,0,a,"I wouldn't fck with an angry black woman, her ..."
10976,34584,0,a,Since most people like to strip zayn off his r...

In [15]:
df_bert_train, df_bert_dev = train_test_split(df_bert, test_size=0.01)

In [12]:
df_bert_test = pd.DataFrame({
    'id':range(len(df_test)),
    'text': df_test['text']
})

df_bert_test_labels = pd.DataFrame({
    'id':range(len(df_test)),
    'text': df_test['text'],
    'label' : df_test['hate']
})

df_bert_test.head()


df_bert_test

         id                                               text
35479     0  JEW Get the fuck out of here you jewish son of...
39481     1  This is how I too feel about #LGBTQ #Pride It'...
6764      2  You're right, I didn't think about that. And w...
20038     3  I am transgender but I'm also mentally ill but...
2240      4  trump is the only jews true friend. I hope tru...
...     ...                                                ...
4159   8642  Hitler didn't finish it. Can u. If a nigger ur...
17042  8643  Ah yeah, I'm actually Dominican myself! And mu...
30177  8644  "@iamkrause: No need to thank me, killing nigg...
2132   8645  +Kinda Linda yea I know I just wish people wou...
5268   8646  Hey ,muslim dickhead !!!!!!!! Why don;t you go...

[8647 rows x 2 columns]

In [17]:
# Saving dataframes to .tsv format as required by BERT
df_bert_train.to_csv('data/train.tsv', sep='\t', index=False, header=False)
df_bert_dev.to_csv('data/dev.tsv', sep='\t', index=False, header=False)
df_bert_test.to_csv('data/test.tsv', sep='\t', index=False, header=False)
df_bert_test_labels.to_csv('data/test_labels.tsv', sep='\t', index = False, header = False)